.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	padding: 20px;
}

.places h1 {
	position: absolute;
	font-size: 30px;
	top: 0;
	left: 0;
	margin: 20px 0 20px 15px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}

.places article {
	width: 390px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	margin: 50px 20px 20px 20px;
	padding: 5px 20px 20px 20px;
	text-align: center;
}
