.places {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding: 0;
}

.places h1 {
	font-size: 30px;
	margin-left: 20px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}

.places article {
	width: 390px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	margin: 20px auto;
}
